<% include partials/header %>

<!-- navbar -->
<% include partials/navbar %>
<!-- /navbar -->

<!-- flash -->
<% include partials/flash %>
<!-- /flash -->

<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Hello, User!</h1>
    <p class="lead">This Web App is Created by Avinash Kumar!</p>
    <p class="lead"></p>
    <hr class="my-4" />

    <div style="font-size:2rem;">
      <strong>GitHub Repo:</strong>
      &nbsp;&nbsp;
      <a href="https://github.com/CoderAvi/movie-search-web-app">
        <i class="fab fa-github" style="color:black"></i>
      </a>
    </div>

    <hr class="my-4" />
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/contact" role="button">
        Contact Us
      </a>
    </p>
  </div>
</div>

<% include partials/footer %>
