<% include partials/header %>

<!-- navbar -->
<% include partials/navbar %>
<!-- /navbar -->

<!-- flash -->
<% include partials/flash %>
<!-- /flash -->

<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Contact Us Here</h1>
    <hr class="my-4" />
    <p class="lead">
      G-Mail:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;kumaravinash4699@gmail.com
    </p>
    <p class="lead">
      Facebook:&nbsp;&nbsp;&nbsp;
      <a href="https://www.facebook.com/coderavinash/">
        <i class="fab fa-facebook-square"></i>
      </a>
    </p>
    <hr class="my-4" />
  </div>
</div>

<% include partials/footer %>
